# ==========================
# Maven
# ==========================
target/

# ==========================
# Java
# ==========================
*.class

# ==========================
# Logs
# ==========================
*.log
server.log
logs/


# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp
*.swp
